@use 'partials/variables' as * ;
@use 'partials/mixins' as *;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
}

.section-top-space{
    margin-top: 40px;
}

.header-container {
    background: $bg-gray;
}

.centered-container {
    width: 80vw;
    margin: 0 auto;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 50px;

    a {
        text-decoration: none;
        color: $text-color;
    }
}

.button {
    @include button-styles($font-color,$text-color);
    // padding: 10px 20px;
    // border: none;
    // background-color: $text-color;
    // color: $font-color;
    // cursor: pointer;
    // border-radius: 6px;
}

.primary-button {
    background: #4CAF4F;
    color: $font-color;
}

.secondary-button {
    background: transparent;
    color: #4CAF4F;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-section {
    padding: 22px 0;
}

.heading-1 {
    font-size: 36px;
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.para {
    font-size: 16px;
    color: #717171;
}


// Client Section

.client-container{
    padding-top: 40px;
}

.client-logos{
    padding-top: 16px;
}

.client-logos-container{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.client-logo{
    max-height: 48px;
    max-width: 48px;
}

.general-desc{
  margin-top: 16px;
}

// benefits Section

.benefits-heading{
    width: 548px;
    margin: 0 auto;
}

.benefit-card-data{
    width: 80%;
    margin: 0 auto;
}
.benefit-icon{
    display: block;
    margin: 0 auto;
}

.benefit-cards-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.benefit-card{
    padding: 24px;
    width: 300px;
    border: 2px solid #ABBED133;
    border-radius: 20px;
}

.benefit-card-heading{
    margin-top: 16px;
}

.benefit-card-para{
    margin-top: 8px;
}

//  info container

.info-container{
    display: flex;
    justify-content: space-evenly;
}

.info-right-data{
    margin: 82.5px 0px;
    width: 660px;
}

.general-button{
    padding: 14px 32px;
    margin-top: 32px;
    border: none;
    background-color: $button-theme;
    color: $font-color;
    cursor: pointer;
    border-radius: 6px;
}

// stats section

.stats-section{
    background-color: #F5F7FA;
}

.stats-container{
    display: flex;
    justify-content: space-between;
}

.stats-left-container{
    margin: 84px 0px;
}

.stats-left-heading{
    width: 408px;
    font-size: 36px;
    overflow-wrap: break-word;
    font-weight: bold;
}

.stats-left-pare{
    margin-top: 8px;
}

.richText{
    color: $button-theme;
}

.stats-right-container{
    margin: 64px;
    display: flex;
    width: 540px;
    flex-wrap: wrap;
    gap: 30px 40px;
}

.stats-card{
    display: flex;
    justify-content: space-around;
    width: 240px;
}

// care section

.care-desc {
    width: 630px;
    margin: 0 auto;
    margin-top: 16px;
}

.care-container {
    padding-top: 48px;
}

.care-image-container {
    position: relative;
    width: 368px;
}

.care-text {
    position: absolute;
    background: #F5F7FA;
    width: 80%;
    left: 10%;
    height: 135px;
    top: 68%;
    border-radius: 6px;
    text-align: center;
    padding: 45px;
    box-sizing: border-box;
}

.care-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px;
}


// Demo section

.demo-heading{
    font-size: 64px;
    color: $text-color;
}
.demo-container{
    max-width: 880px;
    text-align: center;
}


// footer section 

.footer-section{
    background-color: #263238;
}

.footer-container{
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
}

.footer-left-para-container{
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-left-para{
    color: $font-color;
}

.footer-social-list{
    display: flex;
    justify-content:left;
    list-style: none;
}

.footer-social-list-item{
    margin-right: 16px;
}

.footer-right{
    display: grid;
    grid-template-columns: 160px 160px 255px;
    gap: 30px;
}

.footer-vertical-head{
    font-size: 20px;
    color: $font-color;
}

.footer-vertical-list-container{
    list-style: none;
    margin-top: 24px;
}

.footer-vertical-list{
    padding-bottom: 12px;
    font-size: 14px;
    color: $font-color;
}

.footer-form{
    margin-top: 24px;
}

.form-input{
    padding: 9px 18px;
    background-color: #a7a9af;
    color: $font-color;
    border: none;
    border-radius: 5px;
}

.form-input::placeholder{
    color: #D9DBE1;
}
